@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    src: local('assets/fonts/Roboto/Roboto-Thin.ttf'), local('assets/fonts/Roboto/Roboto-Thin.ttf'), url('assets/fonts/Roboto/Roboto-Thin.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 100;
    src: local('assets/fonts/Roboto/Roboto-Regular.ttf'), local('assets/fonts/Roboto/Roboto-Regular.ttf'), url('assets/fonts/Roboto/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 100;
    src: local('assets/fonts/Roboto/Roboto-Medium.ttf'), local('assets/fonts/Roboto/Roboto-Medium.ttf'), url('assets/fonts/Roboto/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 100;
    src: local('assets/fonts/Roboto/Roboto-Bold.ttf'), local('assets/fonts/Roboto/Roboto-Bold.ttf'), url('assets/fonts/Roboto/Roboto-Bold.ttf') format('opentype');
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    color: #545E6C;
    background: #f5f5f5;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}



/*---------- BASE -----------*/

.colorBase{
    color:#42A8C0;
}
.colorBase-1{
    color:#8EB82B;
}
.colorBase-2{
    color:#868686;
}

.fondoBase-1{
    background:#3e4142;
}
.fondoBase-2{
    background-color:#41A6C0;
}

.fondoBase-2{
    background-color:#8EB82B;
}

.pt-20{
    padding-top: 20px;
}

.spaciado{
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-0{
    margin: 0;
    padding: 0;
}

.mb-0{
    margin-bottom: 0;
}

.inline-block{
    display: inline-block;
}

.link-1{
    text-decoration: none;
    color:#42A8C0;
    border-bottom: 2px solid rgba(66,168,192,0.5);
}

.link-1:hover{
    border-bottom: 2px solid #42A8C0;
}

/*--------------------------*/


.wrap{
        
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: auto auto;
       
}

.flex{
    display: flex;
}

.contenido{
    background-color:#fff;
    padding: 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sidebar{
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: column;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


.sidebar .seccion-1,
.sidebar .seccion-2{
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: left;
    height: auto;
}

.sidebar .seccion-1{
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sidebar .seccion-1 .foto{
    width: 120px;
    height: 120px;
    border:0px solid#fff;
    border-radius:50%;
    box-shadow: 1px 0px 1px #ddd;
    margin: 0 auto;
    background: url(../img/foto.jpeg);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}

.sidebar .seccion-2{
    margin-bottom: 15px;
    position: sticky;
    top: 10px;
}

.sidebar .seccion-1 h1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0px;
    line-height: 30px;
    margin-top: 10px;
}

.sidebar .seccion-1 h2{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}


ul.contacto,.interes ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.contacto li{
    padding-bottom: 10px;
}


.interes h2,.educacion h2, .habilidades h2{
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
}

.interes span{
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    line-height: 30px;
    font-size: 0.8rem;
    border-radius: 4px;
}

ul.contacto li a{
    text-decoration: none;
    color:#fff;
    padding-left: 10px;
}

.interes ul li{
    padding-bottom: 10px;
}



.educacion .item{
    margin-bottom: 15px;
}

.educacion .item .titulo,
.educacion .item .meta,
.educacion .item .time{
    padding: 0;
    margin: 0;
}

.educacion .item .titulo{
    font-size: 13px;
}

.educacion .item .meta,.educacion .item .time{
    color: rgba(255, 255, 255, 0.7);
}


.contenido .seccion{
    margin-bottom: 40px;
}

.contenido .titulo{
    justify-content: flex-start;
    align-items: center;
}
.contenido .titulo .icon-titulo{
    padding: 6px 8px;
    background: #42A8C0;
    color: #fff;
    line-height: 0px;
    width: 30px;
}

.contenido .titulo h2{
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1rem;
}

.contenido .titulo h1{
    padding-left: 15px;
    margin: 0;
    font-size: 18px;
    color:#42A8C0;
}
    
.box .items{
    padding-top: 30px;
}

.box .items:first-of-type{
    padding-top: 0px;
}
.box p{
    font-size: 0.875rem;
    margin: 0;
    padding-top: 15px;
    color: #333;
}

.box p.tags{
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.box p.p0{
    padding-top: 0;
}

.box p.tags small{
    background-color: #f8f8f8;
    padding: 4px 8px;
    border-radius: 10px;
    color: #8c8c8c;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
}


.box .titulo-ex{
    font-size: 0.9rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.box .titulo-ex span{
    font-weight: bold;
}
.box .titulo-ex span:first-of-type{
    padding-left: 0;
    font-weight: bold;
}

.items .fecha{
    font-size: 12px;
}

.items .contenido-item .tags{
    font-size: 0.9rem;
    color: #505050;
    font-style: italic;
}

.items .contenido-item{
    margin-top: 10px;
    padding-left: 30px;
    border-left: 1px dashed #ddd;
}



.skill-item{
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.skill-item .title{
    font-size: 13px;
    font-weight: bold;
    width: 30%;
}

.skill-item .bar{
    height: 12px;
    background: #f5f5f5 !important;
    width: 70%;
}
.skill-item .bar-inner{
    height: 12px;
}

.habilidades .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5px;
}

.habilidad{
    height: 8px;
    overflow: hidden;
    background-color: #368699;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 60%;
}

.habilidad .h-porcentual{
    background: #a3d617;
    height: 8px;
}

.container-habilidades{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.scrollTop{
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 40px;
    height: 40px;
    background-color: #42a8c0;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
    -webkit-transition: right .3s ease;
    -o-transition: right .3s ease;
    transition: right .3s ease;
}

.container-habilidades .items-h{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 3rem;
    width: 33.333%;
    margin-bottom: 30px;
}



@media (max-width:  700px){

    body{
        font-size: 14px;
    }

    .wrap{
        grid-template-columns: 100% 100%;
    }
    .contenido{
        grid-row: 2 / 3;
    }
    .sidebar{
        grid-row: 1 / 2;
    }

    .items .contenido-item{
        padding-left: 12px;
        margin-top: 0px;
    }


}


.timeJob{
    color: #868686;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
}
